@model Metani.Models.MapTani

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div id="map" style="width:800px; height:500px;"></div>

<script>

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -7.449771799999999, lng: 112.70154950000006 },
            zoom: 10
        });

        var infowindow = new google.maps.InfoWindow();

        @for (int i = 0; i < Model.HasilTani.Count; i++)
        {
        <text>

        marker = new google.maps.Marker({
            position: new google.maps.LatLng(@Model.HasilTani[i].latitude, @Model.HasilTani[i].longitude),
            map: map,
            icon: 'Content/markers/green_MarkerT.png'
        });

        google.maps.event.addListener(marker, 'click', (function (marker, i) {
            return function () {
                infowindow.setContent(" @Model.HasilTani[i].nama - @Model.HasilTani[i].desc");
                infowindow.open(map, marker);
            }
        })(marker, @i));

        </text>
        }


        @for (int i = 0; i < Model.Tanah.Count; i++)
        {
        <text>

        marker = new google.maps.Marker({
            position: new google.maps.LatLng(@Model.Tanah[i].latitude, @Model.Tanah[i].longitude),
            map: map,
            icon: 'Content/markers/brown_MarkerT.png'
        });

        google.maps.event.addListener(marker, 'click', (function (marker, i) {
            return function () {
                infowindow.setContent(" @Model.Tanah[i].nama - @Model.Tanah[i].desc");
                infowindow.open(map, marker);
            }
        })(marker, @i));

        </text>
        }
        
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnwy1r4Yg5TSy3YB2Vb4PjydJ5HLIfQ4A&libraries=places&callback=initMap"
        async defer></script>