@model Metani.Models.JenisTani

@{
    ViewBag.Title = "Jenis Tani";
}
<h2>@ViewBag.Title.</h2>

<table class="table">
    <tr>
        <th>
            ID Jenis Tani
        </th>
        <th>
            Nama
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Model.IdJenisTani
        </td>
        <td>
            @Model.NamaJenisTani
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.IdJenisTani }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.IdJenisTani })
        </td>
    </tr>

</table>
