@model Metani.Models.HasilTaniJoin

@{
    ViewBag.Title = "Hasil Tani Detail";
}
<h2>@ViewBag.Title.</h2>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Kecamatan
        </th>
        <th>
            Kabupaten
        </th>
        <th>
            Jenis Tani
        </th>
        <th>
            Jumlah
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Model.IdHasilTani
        </td>
        <td>
            @Model.lokasi.Kecamatan
        </td>
        <td>
            @Model.lokasi.Kabupaten
        </td>
        <td>
            @Model.jenisTani.NamaJenisTani
        </td>
        <td>
            @Model.Jumlah
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.IdHasilTani }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.IdHasilTani })
        </td>
    </tr>

</table>

<div id="map" style="width:800px; height:500px;"></div>

<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: @Model.lokasi.Latitude, lng: @Model.lokasi.Longitude },
            zoom: 15
        });

        var marker = new google.maps.Marker({
            draggable: false,
            position: { lat: @Model.lokasi.Latitude, lng: @Model.lokasi.Longitude },
            map: map,
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnwy1r4Yg5TSy3YB2Vb4PjydJ5HLIfQ4A&libraries=places&callback=initMap"
        async defer></script>

