@model Metani.Models.HasilTaniJoin

@{
    ViewBag.Title = "Details Hasil Tani";
}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Data Hasil Tani</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-md">
                                    <tr>
                                        <th>ID</th>
                                        <td>@Model.IdHasilTani</td>
                                    </tr>
                                    <tr>
                                        <th>Jenis Tani</th>
                                        <td>@Model.jenisTani.NamaJenisTani</td>
                                    </tr>
                                    <tr>
                                        <th>Jumlah</th>
                                        <td>@Model.Jumlah</td>
                                    </tr>
                                    <tr>
                                        <th>Kecamatan</th>
                                        <td>@Model.lokasi.Kecamatan</td>
                                    </tr>
                                    <tr>
                                        <th>Kabupaten</th>
                                        <td>@Model.lokasi.Kabupaten</td>
                                    </tr>
                                    <tr>
                                        <th>Action</th>
                                        <td>
                                            <a href="~/HasilTani/Edit/@Model.IdHasilTani" class="btn btn-warning">Edit</a>
                                            <a href="~/HasilTani/Delete/@Model.IdHasilTani" class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="section-title">Map Lokasi</h2>
            <div class="row">
                <div class="col-12">
                    <div class="card" style="padding:25px">
                        <div id="map" style="width:auto; height:500px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: @Model.lokasi.Latitude, lng: @Model.lokasi.Longitude },
            zoom: 15
        });

        var marker = new google.maps.Marker({
            draggable: false,
            position: { lat: @Model.lokasi.Latitude, lng: @Model.lokasi.Longitude },
            map: map,
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnwy1r4Yg5TSy3YB2Vb4PjydJ5HLIfQ4A&libraries=places&callback=initMap"
        async defer></script>

