@model IEnumerable<Metani.Models.HasilTaniJoin>

@{
    ViewBag.Title = "Hasil Tani";
}
<h2>@ViewBag.Title.</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID Hasil Tani
        </th>
        <th>
            Jenis
        </th>
        <th>
            Jumlah
        </th>
        <th>
            Kecamatan
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.IdHasilTani
        </td>
        <td>
            @item.jenisTani.NamaJenisTani
        </td>
        <td>
            @item.Jumlah
        </td>
        <td>
            @item.lokasi.Kecamatan
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdHasilTani }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdHasilTani }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdHasilTani })
        </td>
    </tr>
    }

</table>
