<ul>
    <li>@Html.ActionLink("Jenis Tani", "Index", "JenisTani")</li>
    <li>@Html.ActionLink("Jenis Tanah", "Index", "JenisTanah")</li>
    <li>@Html.ActionLink("Hasil Tani", "Index", "HasilTani")</li>
    <li>@Html.ActionLink("Tanah", "Index", "Tanah")</li>
    <li>@Html.ActionLink("Lokasi", "Index", "Lokasi")</li>
</ul>