@model Metani.Models.Lokasi

@{
    ViewBag.Title = "Update";
}
<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>Movie</h4>
    <hr />

    <input type="text" placeholder="id" name="idJenisTani" value="@Model.IdLokasi" />

    <div class="form-group">
        <label class="control-label col-md-2">Kecamatan : </label>
        <div class="col-md-10">
            <input type="text" placeholder="Masukkan kecamatan" id="kecamatan" name="kecamatan" value="@Model.Kecamatan">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Kabupaten : </label>
        <div class="col-md-10">
            <input type="text" placeholder="Masukkan kabupaten" id="kabupaten" name="kabupaten" value="@Model.Kabupaten">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Provinsi : </label>
        <div class="col-md-10">
            <input type="text" placeholder="Masukkan provinsi" id="provinsi" name="provinsi" value="@Model.Provinsi">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Kode Pos : </label>
        <div class="col-md-10">
            <input type="text" placeholder="Masukkan kode pos" id="kodepos" name="kodepos" value="@Model.KodePos">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Latitude : </label>
        <div class="col-md-10">
            <input type="text" placeholder="Masukkan Latitude" id="latitude" name="latitude" value="@Model.Latitude">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Longitude : </label>
        <div class="col-md-10">
            <input type="text" placeholder="Masukkan longitude" id="longitude" name="longitude" value="@Model.Longitude">
        </div>
    </div>

    @*Genre and Price removed for brevity.*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}